.logo {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0.25px 0.25px 0 white) drop-shadow(-0.25px 0.25px 0 white)
    drop-shadow(0.25px -0.25px 0 white) drop-shadow(-0.25px -0.25px 0 white);
}
