.table {
    .table__pick-header {
        display: inline-block;
        min-width: 64px;
    }

    .table__center {
        text-align: center;
    }

    .table__pick {
        white-space: nowrap;
    }

    tbody td.table__pick.--yes {
        background-color: #a3faa0;
    }

    tbody tr:nth-child(even) td.table__pick.--yes {
        background-color: #7ede7c;
    }

    tbody td.table__pick.--no {
        background-color: #faa0a0;
    }

    tbody tr:nth-child(even) td.table__pick.--no {
        background-color: #de7c7c;
    }

    tbody td.table__pick.--unknown {
        background-color: #edfaa0;
    }

    tbody tr:nth-child(even) td.table__pick.--unknown {
        background-color: #cfde7c;
    }
}