@keyframes slide {
  from {
    background-position: right, center;
  }
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(340px, 100%);
  padding: 16px;
}

.home__week-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home__week-input > * {
  width: 100%;
}

.home__file-input {
  display: none;
}

.home .home__button {
  width: 100%;
  min-width: min-content;
  height: 0;
  min-height: 0px;
  margin-top: 0px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition-property: height, min-height, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.home .home__button.--show {
  height: 56px;
  min-height: 56px;
  margin-top: 12px;
  padding: var(--Button-paddingBlock, 0.375rem);
  opacity: 1;
  visibility: visible;
}

.--loading-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 30%,
    rgba(255, 255, 255, 0.3),
    transparent 70%
  );
  background-size:
    300% 100%,
    cover;
  animation: slide 1s linear infinite;
}

.home__scores {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home__scores-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home__scores-header-content {
  width: min(1400px, 100%);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 12px;
  padding: 12px 16px;
}

.home__scores-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-weight: bold;
}

.home__scores-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.home__scores-header-button.--selected {
  background-color: var(--joy-palette-primary-600);
}

.home__scores-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.home__footer {
  position: fixed;
  bottom: 0;
  padding: 16px;
  color: #888888;
  text-decoration: none;
  text-align: center;
}

@media (max-height: 400px) {
  .home__footer {
    display: none;
  }
}
