.table {
    width: min(1400px, 100%);
    margin: auto;

    @media (max-width: 400px) {
        font-size: 0.8rem;
    }

    .table__header {
        z-index: 1;
        position: sticky;
        top: 0;
        background-color: black;
    }
    
    .table__player-col {
        position: sticky;
        left: 0;
    }

    th {
        color: white;
        background-color: black;
        min-width: max-content;
        padding: 2px 6px;
    }

    th:not(:last-child) {
        border-right: 1px solid white;
    }

    td {
        color: black;
        font-family: monospace;
        min-width: max-content;
        padding: 2px 6px;
        border: 1px solid black;
    }

    tbody tr:nth-child(odd) td {
        background-color: white;
    }
    
    tbody tr:nth-child(even) td {
        background-color: #ededed;
    }
}
