#root {
  min-width: 100vw;
  min-height: 100vh;
}

/* Attempt to disable pull-to-refresh behavior on mobile devices.
See https://stackoverflow.com/questions/29008194/disabling-androids-chrome-pull-down-to-refresh-feature */
body {
  overscroll-behavior: contain;
}

* {
  box-sizing: border-box;
}
