.table {
  tbody {
    .table__pick {
      &.--yes {
        background-color: var(--rak-pick-yes);
      }

      &.--no {
        background-color: var(--rak-pick-no);
      }

      &.--error {
        background-color: var(--rak-pick-error);
      }
    }

    tr:nth-child(even) .table__pick {
      &.--yes {
        background-color: var(--rak-pick-yes-dark);
      }

      &.--no {
        background-color: var(--rak-pick-no-dark);
      }

      &.--error {
        background-color: var(--rak-pick-error-dark);
      }
    }
  }
}
