.table {
  tbody {
    @each $status in yes, no, error {
      .table__pick.--#{$status} {
        background-color: var(--rak-pick-#{$status});
      }

      tr:nth-child(even) .table__pick.--#{$status} {
        background-color: var(--rak-pick-#{$status}-dark);
      }
    }
  }
}
